<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>competition presentation</title>
</head>
<body>
    <p><output type="text" th:value="${Group.groupName}">コンペ</output></p>

    <p><output type="text" th:value="${Group.groupBio}">概要</output></p>

    <form>
        <p><button type="submit">投稿</button>
            <input type="text" th:field="${MeetingChat.meetingChatContents}" placeholder="投稿内容">
        </p>
    </form>

    <form>
        <table>
            <tr>
                <td th:text="${Meeting.groupId}">会議id</td>
            </tr>
            <tr>
                <td th:each="${MeetingMember.userName}">参加者</td>
            </tr>
            <tr>
                <td th:text="${Meeting.userName}">主催者</td>
            </tr>
            <tr>
                <td><button type="submit">参加</button></td>
                <td><button type="submit">開催</button></td>
                <!--                会議中は開催ボタンを押せないよにする-->
            </tr>
        </table>
        <button type="button" onclick="">資料ダウンロード</button>
    </form>

    <button type="button" onclick="location.href='student_main_menu.html'">メニューに戻る</button><br>

</body>
</html>