<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>student menu</title>
</head>
<body>
    <h4>投稿一覧</h4>

<form>
    <button type="submit">投稿</button>
    <input type="text">
</form>

<form>
    <table>
        <tr>
            <th><h4>会議中</h4></th>
        </tr>
        <tr>
            <td th:each="${MeetingMember.getUser_name}">参加者</td>
        </tr>
        <tr>
            <td th:text="${Meeting.getUser_name}">主催者</td>
        </tr>
        <tr>
            <td><button type="submit">参加</button></td>
        </tr>
    </table>
</form>

<form>
    <button type="submit">新しく会議を始める</button>
</form>

<form>
    <button type="submit">ファイル共有</button>
</form>

<form>
    <button type="button" onclick="location.href='student_seminar_member_list.html'">メンバー一覧</button>
</form>

<form>
    <button type="button" onclick="location.href='student_main_menu.html'">メニューに戻る</button>
</form>

</body>
</html>