<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--        layout:decorate="~{layout/layout}"-->
<!--      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"-->
<!--      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"-->

<head lang="ja">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Harbbit | Meeting </title>
<!--    <link rel="stylesheet" href="./src/shared/style.css">-->
    <meta th:content="${_csrf.token}" th:name="_csrf"/>
    <meta th:content="${_csrf.headerName}" th:name="_csrf_header"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>

<div id="js-videos-container" class="videos-container">
    <video id="js-local-video" autoplay muted="true"></video>
</div>
<div class="controller-container">
    <p>Your id: <span id="js-local-id">...</span></p>
<!--    <input type="text" placeholder="Join room..." id="js-room-id">-->
<!--    <button id="js-join-trigger">Join</button>-->
    <button id="js-leave-trigger">退室</button>
    <pre class="messages" id="js-messages"></pre>
    <input type="text" id="msg" placeholder="チャットを入力"><button id="send">送信</button>
</div>

<script type="text/javascript" src="https://cdn.webrtc.ecl.ntt.com/skyway-latest.js"></script>

<script>
    const Peer = window.Peer;
    const localVideo = document.getElementById('js-local-video');
    const localId = document.getElementById('js-local-id');
    const videosContainer = document.getElementById('js-videos-container');
    // const roomId = document.getElementById('js-room-id');
    const messages = document.getElementById('js-messages');
    // const joinTrigger = document.getElementById('js-join-trigger');
    const leaveTrigger = document.getElementById('js-leave-trigger');
    const msg = document.getElementById('msg');
    const sendButton = document.getElementById('send');

    (async function main() {
        // const localVideo = document.getElementById('js-local-video');
        // const localId = document.getElementById('js-local-id');
        // const videosContainer = document.getElementById('js-videos-container');
        // // const roomId = document.getElementById('js-room-id');
        // const messages = document.getElementById('js-messages');
        // // const joinTrigger = document.getElementById('js-join-trigger');
        // const leaveTrigger = document.getElementById('js-leave-trigger');

        const localStream = await navigator.mediaDevices.getUserMedia({
            video: true,
            audio: true,
        });
        localVideo.srcObject = localStream;

        let token = $("meta[name='_csrf']").attr("content");
        let header = $("meta[name='_csrf_header']").attr("content");
        $(document).ajaxSend(function (e, xhr, options) {
            xhr.setRequestHeader(header, token);
        });

        const peer = new Peer({
            // key: window.__SKYWAY_KEY__,
            key: 'b61e8381-31ba-47a5-a59c-ad88ab1472a2',
            debug: 3,
        });

        peer.on('open', (id) => {
            localId.textContent = id;
        // });

        // joinTrigger.addEventListener('click', () => {
            const room = peer.joinRoom([[${groupId}]], {
                mode: 'sfu',
                stream: localStream,
            });

            room.on('open', () => {
                chatlog('===[[${userName}]] joined===', room);
                // DBに会議情報追加
                if ("[[${flg}]]" === "open") {
                    console.log("open:")
                    $.ajax({
                        url: "/meetings/open",
                        type: "POST",
                        data: {
                            peer_id: peer.id,
                            group_id: [[${groupId}]]
                        }
                    }).done(function () {
                        alert("会議を開始しました");
                    })
                        .fail(function () {
                            console.log("error!!!");
                        })
                }

                // 参加
                if ("[[${flg}]]" === "join") {
                    $.ajax({
                        url: "/meetings/join",
                        type: "POST",
                        data: {
                            peer_id: peer.id,
                            group_id: [[${groupId}]]
                        }
                    }).done(function () {
                        alert("会議に参加しました");
                    }).fail(function () {
                        console.log("error!!!");
                    })
                }
            });

            sendButton.addEventListener('click', () => {
                if (msg.value !== ""){
                    chatlog('[[${userName}]]： ' + msg.value, room);
                    msg.value = "";
                }
            })

            room.on('data', function(data){
                messages.textContent += (data.data + '\n');
            })

            room.on('peerJoin', peerId => {
                // messages.textContent += (`===[[${userName}]]joined===\n`);
                // chatlog(`===[[${userName}]]joined===\n`);
            });

            room.on('stream', async stream => {
                const remoteVideo = document.createElement('video');
                remoteVideo.srcObject = stream;
                remoteVideo.playsInline = true;
                remoteVideo.setAttribute('data-peer-id', stream.peerId);
                videosContainer.append(remoteVideo);

                await remoteVideo.play().catch(console.error);
            });

            room.on('peerLeave', peerId => {
                const remoteVideo = videosContainer.querySelector(`[data-peer-id="${peerId}"]`);
                remoteVideo.srcObject.getTracks().forEach(track => {
                    track.stop();
                });
                remoteVideo.srcObject = null;
                remoteVideo.remove();

                // messages.textContent += (`===${peerId} left===\n`);
            });

            room.once('close', () => {
                // messages.textContent += ('===[[${userName}]] left ===\n');
                const remoteVideos = videosContainer.querySelectorAll('[data-peer-id]');
                Array.from(remoteVideos)
                    .forEach(remoteVideo => {
                        remoteVideo.srcObject.getTracks().forEach(track => track.stop());
                        remoteVideo.srcObject = null;
                        remoteVideo.remove();
                    });

            });

            leaveTrigger.addEventListener('click', () => {
                chatlog('===[[${userName}]] left ===' ,room)
                room.close();
                closePeer();
                $(window).off("beforeunload");
            }, { once: true });
        });

        /*ウィンドウを閉じたときに処理をする*/
        $(window).on('beforeunload', function () {
            closePeer();
        });

        peer.on('error', console.error);
    })();

    function chatlog(msg, room) {
        room.send(msg);
        messages.textContent += (msg + '\n');
    }

    function closePeer() {
        $.ajax({
            url: "/meetings/close",
            type: "POST",
            data: {
                group_id: [[${groupId}]]
            }
        }).done(function () {
            alert('退室しました');
            window.close();
        }).fail(function () {
            alert("退室に失敗しました");
        })
    }

</script>

<!--</main>-->
</body>
</html>
