<!DOCTYPE html>
<html layout:decorate="~{/layout/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link crossorigin="anonymous" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" rel="stylesheet"/>
    <title>Harbbit | DM</title>
    <meta th:content="${_csrf.token}" th:name="_csrf"/>
    <meta th:content="${_csrf.headerName}" th:name="_csrf_header"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!--    <script>-->
<!--        window.onload = function () {-->
<!--            let input = document.getElementById("input");-->

<!--            input.value = "";-->

<!--            input.style.display = "none";-->
<!--        }-->

<!--        function buttonClick() {-->
<!--            let input = document.getElementById("input");-->

<!--            input.style.display = "";-->
<!--        }-->
<!--    </script>-->

    <style>

        input[name="tab_item"] {
            display: none;
        }

        /*タブ切り替えの中身のスタイル*/
        .tab_content {
            display: none;
            /*padding: 40px 40px 0;*/
            /*clear: both;*/
            /*overflow: hidden;*/
        }

        #all:checked ~ #all_content,
        #result:checked ~ #result_content,
        #design:checked ~ #design_content {
            display: block;
        }

        .tabs input:checked + .tab_item {
            background-color: #5ab4bd;
            color: #fff;
        }

        .tabs {
            float: left;
            padding-right: 50px;
        }
    </style>

</head>
<body>

<!-- サイドバーの表示-->
<div layout:fragment="sidebar"
     th:replace="~{fragments/sidebar :: sidebar}">
</div>

<!-- コンテンツの表示 -->
<main class="offcanvas-outside bg-light"
      layout:fragment="content">

    <div class="container-fluid">
        <!-- トグルボタン -->
        <div th:replace="~{fragments/sidebar :: toggler}">
        </div>

        <div class="row">
            <div class="col">

                <h2 class="page_title">DM</h2>
                <form>
                    <input id="keyword" maxlength="50" placeholder="キーワードを入力" type="search">
                    <button class="btn btn-primary" id="search" type="button">検索</button>
                </form>

                <div class="tabs" style="float: left">
                    <input checked id="all" name="tab_item" type="radio">
                    <label class="tab_item" for="all">一覧</label>
                    <input id="result" name="tab_item" type="radio">
                    <label class="tab_item" for="result">検索結果</label>

                    <!--一覧-->
                    <div class="tab_content" id="all_content">
                        <div th:fragment="userList" th:substituteby="fragments/directmessage/user_list :: userList">
                        </div>

                    </div>

                    <!--検索結果-->
                    <div class="tab_content" id="result_content">
                        <div th:fragment="searchList" th:substituteby="fragments/directmessage/user_list :: searchUser">
                        </div>
                    </div>

                    <br><br>
                </div>

                <!--        DMのやり取り-->
                <div class="dm_content" id="messages_content" style="float: left">
                    <div th:fragment="messages" th:substituteby="fragments/directmessage/messages :: messages">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>

        const keyword = document.getElementById('keyword');
        const search = document.getElementById('search');

        let token = $("meta[name='_csrf']").attr("content");
        let header = $("meta[name='_csrf_header']").attr("content");
        $(document).ajaxSend(function (e, xhr, options) {
            xhr.setRequestHeader(header, token);
        });

        search.addEventListener('click', () => {
            searchUser();
        });

        function sendDirectMessage(userId, message) {
            $.ajax({
                url: "/dm/send",
                type: "POST",
                data: {
                    message: message,
                    userId: userId,
                },
                dataType: "html",
                cache: false,
            }).done(function (data) {
                $('#messages_content').html(data);
                showUserList();
            }).fail(function () {
                alert("失敗しました");
            })
        }

        function showMessage(userId) {
            $.ajax({
                url: "/dm/message",
                type: "POST",
                data: {
                    userId: userId
                },
                cache: false,
                dataType: "html"
            }).done(function (data) {
                $('#messages_content').html(data);
            }).fail(function () {
                alert("失敗");
            })
        }

        function showUserList() {
            $.ajax({
                url: "/dm/show",
                type: "POST",
                cache: false,
                dataType: "html"
            }).done(function (data) {
                $('#all_content').html(data);
            }).fail(function () {
                console.log("通信に失敗しました");
            })
        }

        function searchUser() {
            console.log("searchUser:" + keyword.value);

            $.ajax({
                url: "/dm/search",
                type: "POST",
                data: {
                    keyword: keyword.value
                },
                cache: false,
                dataType: "html"
            }).done(function (data) {
                $('#result_content').html(data);
            }).fail(function () {
                console.log("通信に失敗しました");
            })
        }
    </script>

    </div>
</main>
</body>
</html>
