<!DOCTYPE html>
<html layout:decorate="~{/layout/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DM画面</title>
    <meta th:content="${_csrf.token}" th:name="_csrf"/>
    <meta th:content="${_csrf.headerName}" th:name="_csrf_header"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <style>
        /*.tabs {*/
        /*    padding-bottom: 40px;*/
        /*    background-color: #fff;*/
        /*    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);*/
        /*    width: 700px;*/
        /*    margin: 0 auto;*/
        /*}*/


        /*.tab_item:hover {*/
        /*    opacity: 0.75;*/
        /*}*/

        input[name="tab_item"] {
            display: none;
        }

        /*タブ切り替えの中身のスタイル*/
        .tab_content {
            display: none;
            /*padding: 40px 40px 0;*/
            /*clear: both;*/
            /*overflow: hidden;*/
        }

        #all:checked ~ #all_content,
        #result:checked ~ #result_content,
        #design:checked ~ #design_content {
            display: block;
        }

        .tabs input:checked + .tab_item {
            background-color: #5ab4bd;
            color: #fff;
        }

        .tabs {
            float: left;
            padding-right: 50px;
        }
    </style>


</head>
<body>
<!-- サイドバーの表示-->
<div layout:fragment="sidebar"
     th:replace="~{fragments/sidebar :: sidebar}">
</div>

<!-- コンテンツの表示 -->
<main class="offcanvas-outside bg-light"
      layout:fragment="content">
    <div class="container-fluid">
        <!-- トグルボタン -->
        <div th:replace="~{fragments/sidebar :: toggler}">
        </div>
    </div>

    <h2>DM</h2>
    <form method="get" th:action="@{/dm/search}">
        <label>
            <input maxlength="50" name="keyword" type="search">
        </label>
        <input id="search" type="submit" value="検索">
    </form>

    <div class="tabs">
        <input checked id="all" name="tab_item" type="radio">
        <label class="tab_item" for="all">一覧</label>
        <input id="result" name="tab_item" type="radio">
        <label class="tab_item" for="result">検索結果</label>

        <!--一覧-->
        <div class="tab_content" id="all_content">
            <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}" th:if="${!#lists.isEmpty(users)}">
                <form method="post" th:action="@{'/dm/dmToPerson/' + ${user.getUserId()}}" th:object="${users}">
                    <td th:text="${user.getUserName()}"></td>
                    <td><small><small><small th:if="${user.getCertification().getRole() == '0' }"
                                             th:text="${'(' + user.getStudents().getSchool().getSchoolName() + '  ' + user.getStudents().getSchoolGrade() + '年' + ')'}"></small></small></small>
                    </td>
                    <td><small><small><small th:if="${user.getCertification().getRole() == '1' }"
                                             th:text="${'(' + user.getTeachers().getSchool().getSchoolName() + ')'}"></small></small></small>
                    </td>
                    <td><small><small><small th:if="${user.getCertification().getRole() == 2 }"
                                             th:text="${'(' + user.getEmployees().getEnterprise().getEnterpriseName() + ')'}"></small></small></small>
                    </td>
                    <td><small><small><small th:if="${user.getCertification().getRole() == '3' }"
                                             th:text="${'(' + user.getTeachers().getSchool().getSchoolName() + ')'}"></small></small></small>
                    </td>
                    <td><input id="dm" th:value="DM" type="submit"></td>
                </form>
            </tr>
            </tbody>

            <!--検索結果-->
        </div>
        <div class="tab_content" id="result_content">
            <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${searchUsers}" th:if="${!#lists.isEmpty(searchUsers)}">
                <form method="post" th:action="@{'/dm/dmToPerson/' + ${user.getUserId()}}" th:object="${users}">
                    <td th:text="${user.getUserName()}">ユーザー名</td>
                    <td><small><small><small th:if="${user.getCertification().getRole() == '0' }"
                                             th:text="${'(' + user.getStudents().getSchool().getSchoolName() + '  ' + user.getStudents().getSchoolGrade() + '年' + ')'}"></small></small></small>
                    </td>
                    <td><small><small><small th:if="${user.getCertification().getRole() == '1' }"
                                             th:text="${'(' + user.getTeachers().getSchool().getSchoolName() + ')'}"></small></small></small>
                    </td>
                    <td><small><small><small th:if="${user.getCertification().getRole() == 2 }"
                                             th:text="${'(' + user.getEmployees().getEnterprise().getEnterpriseName() + ')'}"></small></small></small>
                    </td>
                    <td><small><small><small th:if="${user.getCertification().getRole() == '3' }"
                                             th:text="${'(' + user.getTeachers().getSchool().getSchoolName() + ')'}"></small></small></small>
                    </td>
                    <td><input th:value="DM" type="submit"></td>
                </form>
            </tr>
            </tbody>

        </div>
        <br><br>
    </div>

    <!--        DMのやり取り-->
    <div class="dm_content" id="dm_content">
        <h5 th:text="${addressUser.getUserName()}"></h5>
        <div class="dm" th:if="${!#lists.isEmpty(dms)}">
            <table>
                <tbody>
                <tr th:each="dm : ${dms}">
                    <form action="" method="POST">
                        <input name="" type="hidden" value="">
                        <td th:text="${dm.getCreateUserName()}"></td>
                        <td th:text="${dm.getDirectMessageContent()}">DM内容</td>
                        <td th:text="${dm.getCreateDatetime()}"></td>
                    </form>
                </tr>
                </tbody>
            </table>
            <br>
        </div>
        <form method="POST" th:action="@{/dm/send}">
            <label>
                <input maxlength="500" name="message" required type="text">
                <input name="addressUser" th:object="${addressUser}" type="hidden">
            </label>
            <input name="send" type="submit" value="送信">
        </form>
    </div>

    <script>

        const keyword = document.getElementById('keyword');
        const search = document.getElementById('search');
        const directMessage = document.getElementById('dm');

        search.addEventListener('submit'){

        }

        function sendDirectMessage() {
            $.ajax({
                url: "/dm/send",
                type: "POST",
                data: {
                    message:
                }
            }).done(function () {

            }).fail(function () {

            })
        }

        function showMessage() {
            $.ajax({
                url: "/dm/send",
                type: "POST",
                data: {
                    userId: ""
                }
            }).done(function (response) {

            }).fail(function () {

            })
        }

        function searchUser() {
            $.ajax({
                url: "/dm/send",
                type: "POST",
                data: {
                    keyword: keyword.value
                }
            }).done(function (response) {

            }).fail(function () {

            })
        }
    </script>

</main>

</body>
</html>
