<!DOCTYPE html>
<html layout:decorate="~{/layout/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <title>プロフィール編集</title>
</head>
<body>
<!-- サイドバーの表示 -->
<div layout:fragment="sidebar"
     th:replace="~{fragments/sidebar :: sidebar}">
</div>

<!-- コンテンツの表示 -->
<main class="offcanvas-outside bg-light"
      layout:fragment="content">
    <div class="container-fluid">
        <!-- トグルボタン -->
        <div th:replace="~{fragments/sidebar :: toggler}">
        </div>
    </div>

<!--<h1>パスワード変更</h1>-->
    <form th:action="@{/users/editpass}" method="POSt" id="pass" onsubmit="return checkPass()">

        <input type="text" id="password" th:name="password" placeholder="新しいパスワードを入力してください"><br>
        <input type="text" id="password2" th:name="password2" placeholder="新しいパスワードを再度入力してください"><br>
        <input type="submit" value="変更">

    </form>

    <script>
        function checkPass() {
            let pass1 = document.getElementById('password').value;
            let pass2 = document.getElementById('password2').value;
            if (pass1 !== pass2) {
                alert("入力されたパスワードが一致しません");
                return false;
            }
            return true;
        }
    </script>

</main>
</body>
</html>