<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>seminar_member_list</title>
</head>
<body>
<h4>教師</h4>

<form>
    <table border="1">
        <tr th:each="User">
            <td th:text="list.getUser_name">教師名</td>
        </tr>
    </table>
</form>

<h4>部長</h4>
<form>
    <table border="1">
        <tr th:each="User">
            <td th:text="list.getUser_name">部長名</td>
            <td><button type="button">選択</button></td>
            <td><button type="button">削除</button></td>
        </tr>
    </table>
</form>

<h4>学生</h4>
<form>
    <table border="1">
        <tr th:each="User">
            <td th:text="list.getUser_name">学生名</td>
            <td><button type="button">選択</button></td>
            <td><button type="button">削除</button></td>
        </tr>
    </table>
</form>

<form>
    <button type="button" onclick="location.href='teacher_seminar_menu.html'">ゼミメニューに戻る</button>
</form>

</body>
</html>