<!DOCTYPE html>
<html layout:decorate="~{/layout/layout}"
      xmlns="http://www.w3.org/1999/html"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link crossorigin="anonymous" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" rel="stylesheet"/>
    <title>Harbbit | パスワード変更</title>
</head>
<body>
<!-- サイドバーの表示 -->
<div layout:fragment="sidebar"
     th:replace="~{fragments/sidebar :: sidebar}">
</div>

<!-- コンテンツの表示 -->
<main class="offcanvas-outside"
      layout:fragment="content">
    <div class="container-fluid">
        <!-- トグルボタン -->
        <div th:replace="~{fragments/sidebar :: toggler}">
        </div>


        <div class="row">
            <div class="col">

                <h2 class="page_title">パスワード変更</h2>

                <!--<h1>パスワード変更</h1>-->
                <form id="pass" method="POSt" onsubmit="return checkPass()" th:action="@{/users/editpass}">

                    <input id="password" placeholder="新しいパスワードを入力してください" th:name="password" type="text"><br>
                    <input id="password2" placeholder="新しいパスワードを再度入力してください" th:name="password2" type="text"><br>
                    <input class="btn btn-primary" type="submit" value="変更">

                </form>

                <script>
                    function checkPass() {
                        let pass1 = document.getElementById('password').value;
                        let pass2 = document.getElementById('password2').value;
                        if (pass1 !== pass2) {
                            alert("入力されたパスワードが一致しません");
                            return false;
                        }
                        return true;
                    }
                </script>
            </div>
        </div>
    </div>
</main>
</body>
</html>
