<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>seminar create</title>
</head>
<body>
    <h2>ゼミ作成</h2>

<form method="post" th:action="@{../../../java/com/example/online_seminar/entity/group/Group.java}"
    th:object="${Group}">
    <p>ゼミ名: <input type="text" th:field="${groupId}"/></p>
    <p>ゼミ概要:<input type="text" th:field="${groupBio}"/></p>
    <p>タグ: <input type="text"th:field="${Tag.tagName}"/></p>
</form>

<button type="button" onclick="location.href='teacher_seminar_create_completion.html'">作成</button>
<button type="button" onclick="location.href='teacher_main_menu.html'">メニューに戻る</button>

</body>
</html>