<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>ユーザー作成</title>

    <script>

        window.onload = function(){
            let stuform = document.getElementById("student-input");
            let teaform = document.getElementById("teacher-input");
            let admform = document.getElementById("admin-input");
            let empform = document.getElementById("employee-input");

            let id = document.getElementById("id");
            let name = document.getElementById("name");
            let password = document.getElementById("password");

            let studentschoolname = document.getElementById("student_school_name");
            let teacherschoolname = document.getElementById("teacher_school_name");
            let adminschoolname = document.getElementById("admin_school_name");
            let enterprisename = document.getElementById("enterprise_name");

            stuform.style.display = "";
            teaform.style.display = "none";
            admform.style.display = "none";
            empform.style.display = "none";

            id.value = "";
            name.value = "";
            password.value = "";

            studentschoolname.value = "";
            teacherschoolname.value = "";
            adminschoolname.value = "";
            enterprisename.value = "";
        }

        function buttonClick() {
            let btnstu = document.getElementById("student");
            let btntea = document.getElementById("teacher");
            let btnadm = document.getElementById("admin");
            let btnemp = document.getElementById("employee");

            let stuform = document.getElementById("student-input");
            let teaform = document.getElementById("teacher-input");
            let admform = document.getElementById("admin-input");
            let empform = document.getElementById("employee-input");

            let studentschoolname = document.getElementById("student_school_name");
            let teacherschoolname = document.getElementById("teacher_school_name");
            let adminschoolname = document.getElementById("admin_school_name");
            let enterprisename = document.getElementById("enterprise_name");

            if (btnstu.checked) {
                stuform.style.display = "";
                teaform.style.display = "none";
                admform.style.display = "none";
                empform.style.display = "none";

                studentschoolname.value = "";
                graduationyear.value="";
                graduationmonth.value="";
                graduationdate.value = "";
                teacherschoolname.value = "";
                adminschoolname.value = "";
                enterprisename.value = "";
            } else if (btntea.checked){
                teaform.style.display = "";
                stuform.style.display = "none";
                admform.style.display = "none";
                empform.style.display = "none";

                studentschoolname.value = "";
                teacherschoolname.value = "";
                adminschoolname.value = "";
                enterprisename.value = "";
            } else if (btnadm.checked){
                admform.style.display = "";
                stuform.style.display = "none";
                teaform.style.display = "none";
                empform.style.display = "none";

                studentschoolname.value = "";
                teacherschoolname.value = "";
                adminschoolname.value = "";
                enterprisename.value = "";
            } else if (btnemp.checked){
                empform.style.display = "";
                stuform.style.display = "none";
                teaform.style.display = "none";
                admform.style.display = "none";

                studentschoolname.value = "";
                teacherschoolname.value = "";
                adminschoolname.value = "";
                enterprisename.value = "";
            }else {
                teaform.style.display = "none";
                admform.style.display = "none";
                empform.style.display = "none";

                studentschoolname.value = "";
                teacherschoolname.value = "";
                adminschoolname.value = "";
                enterprisename.value = "";
            }
        }



    </script>
</head>
<body>

<form method="post" action="">
    <p>アカウント作成画面</p>
    <input type="radio" name="role" id="student" checked value="0" checked onclick="buttonClick()">学生
    <input type="radio" name="role" id="teacher" value="1"  onclick="buttonClick()">教師(一般)
    <input type="radio" name="role" id="admin" value="3" onclick="buttonClick()">教師(管理者)
    <input type="radio" name="role" id="employee" value="2" onclick="buttonClick()">企業担当者


    <p>id</p>
    <input type="text" id="id">
    <p>名前</p>
    <input type="text" id="name">
    <p>パスワード</p>
    <input type="text" id="password">

    <!---学生用の情報-->
    <div id="student-input">
        <p>学校名</p>
        <input type="text" id="student_school_name">
        <p>在籍予定年数</p>
        <input type="radio" name="course" id="course2" value="2" checked>2
        <input type="radio" name="course" id="course3" value="2">3
        <input type="radio" name="course" id="course4" value="2">4
        <p>学年</p>
        <input type="radio" name="grade" id="grade1" value="1" checked>1
        <input type="radio" name="grade" id="grade2" value="2">2
        <input type="radio" name="grade" id="grade3" value="2">3
        <input type="radio" name="grade" id="grade4" value="2">4
    </div>

    <!--教師(一般)用の情報-->
    <div id="teacher-input">
        <p>学校名</p>
        <input type="text" id="teacher_school_name">
    </div>

    <!---教師(管理者)用の情報-->
    <div id="admin-input">
        <p>学校名</p>
        <input type="text" id="admin_school_name">
    </div>

    <!--企業担当者用の情報-->
    <div id="employee-input">
        <p>企業名</p>
        <input type="text" id="enterprise_name">
    </div>

    <br>
    <input type="submit" value="作成">
</form>
</body>
</html>