/*見出し用*/
.heading {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 30px;
    text-align: center;
}
.heading span {
    position: relative;
    z-index: 2;
}

.heading::before {
    content: attr(data-en);
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    color: rgba(224, 66, 114, 0.2);
    font-size: 80px;
    font-style: italic;
}

.heading::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%) rotate(30deg);
    width: 1px;
    height: 40px;
    background-color: rgb(224, 66, 114);
}