<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Harbbit | GroupAdd</title>


    <script>
        let i = 1 ;
        function addForm() {
            let input_data = document.createElement('input');
            input_data.type = 'text';
            input_data.id = 'tag_' + i;
            input_data.placeholder = 'タグを入力してください';
            let parent = document.getElementById('form_area');
            parent.appendChild(input_data);

            let button_data = document.createElement('button');
            button_data.id = i;
            button_data.onclick = function(){deleteBtn(this); }
            button_data.innerHTML = '削除';
            let input_area = document.getElementById(input_data.id);
            parent.appendChild(button_data);

            let br_data = document.getElementById("form_area");
            br_data.insertAdjacentHTML("beforeend","<br>");

            i++;
        }

        function deleteBtn(target) {
            /*DeleteNewLine(this); //改行削除*/
            let target_id = target.id;
            let parent = document.getElementById('form_area');
            let ipt_id = document.getElementById('tag_' + target_id);
            let tgt_id = document.getElementById(target_id);
            parent.removeChild(ipt_id);
            parent.removeChild(tgt_id);
        }

        function DeleteNewLine(myLen) {
            var newLen = myLen.replace(/\r?\n/g,'');
            return(newLen);
        }

        window.onload = function(){
            let id = document.getElementById("id");
            let name = document.getElementById("name");
            let bio = document.getElementById("bio");

            let deadline = document.getElementById("deadline");

            deadline.style.display = "none";

            id.value = "";
            name.value = "";
            bio.value = "";

            deadline.value = "";
        }

        function buttonClick() {
            let seminarform = document.getElementById("seminar");
            let announcementcompform = document.getElementById("announcement_comp");
            let submissioncompform = document.getElementById("submission_comp");

            let deadline = document.getElementById("deadline");

            deadline.value = "";

            if (seminarform.checked) {
                deadline.style.display = "none";
            } else if (announcementcompform.checked) {
                deadline.style.display = "";
            }
            else if(submissioncompform.checked){
                deadline.style.display = "";
            }else {
                deadline.style.display = "none";
            }
        }

    </script>
</head>
<body>

<!-- サイドバーの表示-->
<div layout:fragment="sidebar"
     th:replace="~{fragments/sidebar :: sidebar}">
</div>

<!-- コンテンツの表示 -->
<main layout:fragment="content"
      class="offcanvas-outside">
    <div class="container-fluid">
        <!-- トグルボタン -->
        <div th:replace="~{fragments/sidebar :: toggler}">
        </div>
    </div>


<form th:action="@{/groups/addGroup}" method="post" th:object="${group}">
    <p>グループ作成</p>
    <input type="radio" name="groupRole" id="seminar" checked value="0"  onclick="buttonClick()">ゼミ
    <input type="radio" name="groupRole" id="announcement_comp" value="1"  onclick="buttonClick()">発表型コンペ
    <input type="radio" name="groupRole" id="submission_comp" value="2" onclick="buttonClick()">提出型コンペ
    <br>
    <br>
    <p>グループ名<br>
    <input type="text" id="groupName" name="groupName">
    </p>
    <p>グループ概要<br>
    <input type="text" id="groupBio" name="groupBio">
    </p>
    <p>タグ</p>
    <div id="form_area" >
    </div>
    <br>
    <input type="button" value="タグ追加" onclick="addForm()">
    <br>
    <!---コンペ用の情報-->
    <p>
        <div id="deadline">
        提出期限<br>
        <input type="datetime-local" name="deadline">
    </div>
    </p>
    <br>
    <input type="submit" value="作成">
</form>
</main>
</body>
</html>