<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>グループ作成完了</title>
</head>
<body>
<h1>グループが作成されました。</h1>

<p><button type="button" onclick="location.href='teacher_main_menu.html'">メニュー画面へ</button></p>

<form>
    <!--    後で作成されたグループidに合わせてグループメニューに遷移するcontrollerクラスにcreateに書かれた情報を渡すような内容に変える-->
    <p><button type="button" onclick="location.href='../seminar/seminar_competition_presentation.html'">コンペ画面へ</button></p><!--(仮) -->
</form>

</body>
</html>