<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{.../css/main.css}">
    <style>
        body {
            background-color: darkturquoise;
        }
        table {
            margin-left: auto;
            margin-right: auto;
            padding: 80px;

            border-collapse: separate;
            border-spacing: 50px;
        }

    </style>
    <title>seminarIndex</title>
</head>
<body>

<form th:action="@{/group}" th:object="${GroupList}">
    <table class="center" style="font-size: 20pt;">
        <tr style="font-size: 40pt" th:each="list : ${GroupList}">
        <th th:text="${list.getGrooup_name()}"></th>
        </tr>
        <tr th:each="list : ${GroupList}">
            <td th:text="${list.getGroup_bio()}"></td>
        </tr>
    </table>
</form>
</body>
</html>