<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8" th:remove="tag">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">
    <title>Harbbit | MainMenu</title>
</head>
<body>
<!-- サイドバーの表示-->
<div layout:fragment="sidebar"
     th:replace="~{fragments/sidebar :: sidebar}">
</div>
<!-- コンテンツの表示 -->
<main layout:fragment="content"
      class="offcanvas-outside">
    <div class="container-fluid">
        <!-- トグルボタン -->
        <div th:replace="~{fragments/sidebar :: toggler}">
        </div>
        <div class="row">
            <div class="col">
                <!--                <div class="card shadow">-->
                <!--                    <div class="card-header">-->

                <h2 class="seminar_title" th:text="${userName.userName}"></h2>

                <!--参加ゼミ一覧表示-->
                <div sec:authorize="hasAnyRole('0','1','3')">
                    <table class="layout-table01">
                        <caption>参加しているゼミ</caption>
                        <thead>
                        <tr>
                            <th>ゼミ名</th>
                            <th>概要</th>
                            <th>ゼミメニューへ</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- groupsが空でない場合、groupsの要素をgroupに格納する -->
                        <!-- 要素の数ループする -->
                        <tr th:if="${!#lists.isEmpty(seminars)}" th:each="seminar : ${seminars}">
                            <td th:text="${seminar.groupName}"></td>
                            <td style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden; max-width: 0;" th:text="${seminar.groupBio}"></td>
                            <td>
                                <!--                    <input type="hidden" name="groupId" th:value="${seminar.groupId}">-->
                                <!--                    <a th:href="@{/groups/showGroupMessage}" class="css名">-->

                                <form th:action="@{/groups/showGroupMessage}" method="post">
                                    <input type="hidden" name="groupId" th:value="${seminar.groupId}">
                                    <button class="btn btn-primary">メニュー</button>
                                    <!--                    <i class="クラス名">メニュー</i></a>-->
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <br><br>
                <!--参加コンペ一覧表示-->
                <table class="layout-table01">
                    <caption>参加しているコンペ</caption>
                    <thead>
                    <tr>
                        <th>コンペ名</th>
                        <th>概要</th>
                        <th>コンペメニューへ</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- groupsが空でない場合、groupsの要素をgroupに格納する -->
                    <!-- 要素の数ループする -->
                    <tr th:if="${!#lists.isEmpty(competitions)}" th:each="competition : ${competitions}">
                        <td th:text="${competition.groupName}"></td>
                        <td style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden; max-width: 0;"th:text="${competition.groupBio}"></td>
                        <td>
                            <!--                    <a th:href="@{/groups/showGroupMessage/{groupId}(groupId = ${competition.groupId})}" class="css名">-->
                            <!--                    <i class="クラス名">メニュー</i></a>-->
                            <form th:action="@{/groups/showGroupMessage}" method="post">
                                <input type="hidden" name="groupId" th:value="${competition.groupId}">
                                <button class="btn btn-primary">メニュー</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <br><br>
                <table>
                    <tr>
                        <td>
                            <form th:action="@{/groups/search_group}" method="get">
                                <input type="hidden" name="userId" th:value="${userId}">
                                <input type="hidden" name="role" th:value="${role}">
                                <button class="btn btn-primary">
                                    <i class="fas fa-search"></i> グループ検索
                                </button>
                            </form>
                        </td>
                        <td>
                            <div sec:authorize="hasAnyRole('1','3')">
                                <button class="btn btn-primary"
                                        th:attr="onClick='location.href=\'' +@{/groups/teacher/showCreateMenu} + '\''">
                                    <i class="far fa-plus-square"></i> グループ作成
                                </button>
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-primary"
                                    th:attr="onClick='location.href=\'' +@{/users/group_search} + '\''">
                                <i class="fas fa-unlock-alt"></i></i> パスワード変更
                            </button>
                        </td>
                        <td>
                            <div sec:authorize="hasAnyRole('1','3')">
                                <button class="btn btn-primary"
                                        th:attr="onClick='location.href=\'' +@{/users/teacher/users_list} + '\''">
                                    <i class="fas fa-list"></i> ユーザ一覧
                                </button>
                            </div>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
    <!--        </div>-->
    <!--    </div>-->
</main>
</body>
<script th:src="@{webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</html>
