<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/layout}">
<script>
    function roleCheck() {
        let role = document.getElementById("groupRole");
        let newDiv = document.createElement('div');
        let roleName = document.createTextNode("");
        try {
            if (role == 0) {
                role= role.replace('0','一般');
                console.log(role)
            } else if (role === 1) {
                role = role.replace('1','代表');
                console.log(role)
            } else if (role === 2) {
                role = role.replace('2','講師');
                console.log(role)
            }else if (role === 3) {
                role = role.replace('3','企業関係者');
                console.log(role)
            }else if (role === 4) {
                role = role.replace('4','代表者');
                console.log(role)
            }
        } catch (e) {
            console.error("エラー：", e.message);
        }
    }



</script>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">
    <title>Harbbit | groupMember</title>
</head>
<body>
<!-- サイドバーの表示-->
<div layout:fragment="sidebar"
     th:replace="~{fragments/sidebar :: sidebar}">
</div>

<!-- コンテンツの表示 -->
<main layout:fragment="content"
      class="offcanvas-outside">
    <div class="container-fluid">
        <!-- トグルボタン -->
        <div
                th:replace="~{fragments/sidebar :: toggler}">
        </div>

        <div class="row">
            <div class="col">

<!--        <thead>-->
<!--        <tr>-->
<!--            <th>ユーザ名</th>-->
<!--            <th>権限</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        &lt;!&ndash; messageが空でない場合、messageの要素をmessageに格納する &ndash;&gt;-->
<!--        &lt;!&ndash; 要素の数ループする &ndash;&gt;-->
<!--        <tr th:if="${!#lists.isEmpty(groupMembers)}" th:each="groupMember : ${groupMembers}">-->
<!--            <td th:text="${groupMember.userName}"></td>-->
<!--            <td id="groupRole" th:text="${groupMember.groupRole}"></td>-->
<!--            <div sec:authorize="hasAnyRole('1','3')">-->
<!--                <form th:action="@{groups/deleteGroupMember}" method="post">-->
<!--                    <input type="hidden" name="userId" th:value="${groupMember.userId}">-->
<!--                    <td>-->
<!--                        <button type="submit">退会</button>-->
<!--                    </td>-->
<!--                </form>-->
<!--            </div>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->
<!--=======-->
                <h2 class="page_title">参加メンバー</h2>
                <br>
                <table class="layout-table02">
                    <thead>
                    <tr>
                        <th>ユーザ名</th>
                        <th>役職</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- messageが空でない場合、messageの要素をmessageに格納する -->
                    <!-- 要素の数ループする -->
                    <tr th:if="${!#lists.isEmpty(groupMembers)}" th:each="groupMember : ${groupMembers}">
                        <td th:text="${groupMember.userName}"></td>


                        <td  th:if="${groupMember.groupRole  == 0}"
                             th:text="一般">一般
                        </td>
                        <td th:if="${groupMember.groupRole  == 1}"
                            th:text="代表">代表
                        </td>
                        <td th:if="${groupMember.groupRole  == 2}"
                            th:text="講師">講師
                        </td>
                        <td th:if="${groupMember.groupRole  == 3}"
                            th:text="企業関係者">企業関係者
                        </td>
                        <td th:if="${groupMember.groupRole  == 4}"
                            th:text="代表者">代表者
                        </td>

                        <div>
                            <form th:action="@{groups/deleteGroupMember}" method="post">
                                <input type="hidden" name="userId" th:value="${groupMember.userId}">
                                <td sec:authorize="hasAnyRole('1','2','3')">
                                    <button type="submit"  class="btn btn-primary">退会</button>
                                </td>
                            </form>
                        </div>
                    </tr>
                    </tbody>
                </table>
                <br>
                <form th:action="@{/groups/showGroupMessage}" method="post">
                    <input type="hidden" name="groupId" th:value="${groupId}">
                    <button class="btn btn-primary">グループメニューに戻る</button>
                </form>
            </div>
        </div>
    </div>
</main>
</body>
</html>
