<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>competition submission</title>
</head>
<body>
    <p><output type="text" th:value="${Group.groupName}">コンペ</output></p>

    <p><output type="text" th:value="${Group.groupBio}">概要</output></p>

    <form>
        <p><button type="submit">投稿</button>
            <input type="text" th:field="${MeetingChat.meetingChatContents}" placeholder="投稿内容">
        </p>
    </form>

    <p><button type="button" onclick="">ファイル提供</button>
       <button type="button" onclick="">資料ダウンロード</button></p>

    <div sec:authorize="hasAnyRole('2', '3')">
    <button type="button" onclick="location.href='seminar_competition_update.html'">コンペ内情報更新</button><br>
    </div>

    <form action="" method="post">
        <!-- メニュー画面で受け取ったuserIdに合わせて教師、企業のいずれかのmain_menuに遷移するcontrollerに情報を渡す -->
        <button type="button" onclick="history.back()">メニューに戻る</button><br><!-- 仮 -->
    </form>

    <div sec:authorize="hasAnyRole('2', '3')">
    <button type="button" onclick="location.href='seminar_competition_delete.html'">コンペ削除</button><br>
    </div>
</body>
</html>