<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>seminar_member_list</title>
</head>
<body>
    <h4>教師</h4>

<form>
    <table border="1">
        <tr th:each="User"></tr>
        <th th:text="list.getUser_name">教師名</th>
    </table>
</form>

    <h4>部長</h4>
<form>
    <table border="1">
        <tr th:each="User"></tr>
        <th th:text="list.getUser_name">部長名</th>
    </table>
</form>

    <h4>学生</h4>
<form>
    <table border="1">
        <tr th:each="User"></tr>
        <th th:text="list.getUser_name">学生名</th>
    </table>
</form>

<form>
    <button type="button" onclick="location.href='menu.html'">ゼミメニューに戻る</button>
</form>

</body>
</html>