<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>competition submission</title>
</head>
<body>
<!-- サイドバーの表示-->
<div layout:fragment="sidebar"
     th:replace="~{fragments/sidebar :: sidebar}">
</div>

<!-- コンテンツの表示 -->
<main layout:fragment="content"
      class="offcanvas-outside bg-light">
    <div class="container-fluid">
        <!-- トグルボタン -->
        <div th:replace="~{fragments/sidebar :: toggler}">
        </div>
    </div>

<table>
    <tr th:object="${groups}" th:each="group : ${groups}">
        <form method="get" th:action="@{/groups/showGroupMessage/{groupId}}">
            <td th:text="${group.groupName}"></td>
            <td th:text="${group.groupBio}"></td>
        </form>
    </tr>
</table>
<!--    <p><output type="text" th:each="group : ${group}">コンペ</output></p>-->

<!--    <p><output type="text" th:value="${Group.groupBio}">概要</output></p>-->

    <form th:action="@{/groups/addGroupMessage}" 　method="post">
        <input type="hidden" name="groupId" th:value="${groupId}">
        <input type="text" name="messageContents" size="30"  placeholder="投稿内容">
        <button type="submit">投稿</button>
    </form>

    <p><button type="button" onclick="">ファイル提供</button>
       <button type="button" onclick="">資料ダウンロード</button></p>

    <div sec:authorize="hasAnyRole('2', '3')">
    <button type="button" onclick="location.href='seminar_competition_update.html'">コンペ内情報更新</button><br>
    </div>

<!--    <form action="" method="post">-->
<!--        &lt;!&ndash; メニュー画面で受け取ったuserIdに合わせて教師、企業のいずれかのmain_menuに遷移するcontrollerに情報を渡す &ndash;&gt;-->
<!--        <button type="button" onclick="history.back()">メニューに戻る</button><br>&lt;!&ndash; 仮 &ndash;&gt;-->
<!--    </form>-->

    <div sec:authorize="hasAnyRole('2', '3')">
    <button type="button" onclick="location.href='seminar_competition_delete.html'">コンペ削除</button><br>
    </div>
</main>
</body>
</html>