<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.webrtc.ecl.ntt.com/skyway-4.4.3.js"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <title>Harbbit | CompetitonSubmissionMenu</title>
</head>
<body>
<!-- サイドバーの表示-->
<div layout:fragment="sidebar"
     th:replace="~{fragments/sidebar :: sidebar}">
</div>

<!-- コンテンツの表示 -->
<main layout:fragment="content"
      class="offcanvas-outside">
    <div class="container-fluid">
        <!-- トグルボタン -->
        <div th:replace="~{fragments/sidebar :: toggler}">
        </div>
        <div class="row">
            <div class="col">

                <h2 class="page_title" th:object="${groups}" th:each="group : ${groups}" th:text="${group.groupName}"></h2>
                <br>
                <h4 th:object="${groups}" th:each="group : ${groups}" th:text="${group.groupBio}"></h4>
                <br>
                <table class="layout-table01">
                    <thead>
                    <tr>
                        <th class="w10">ユーザ名</th>
                        <th class="w55">投稿内容</th>
                        <th class="w10">日付</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- messageが空でない場合、messageの要素をmessageに格納する -->
                    <!-- 要素の数ループする -->
                    <tr th:if="${!#lists.isEmpty(groupMessages)}" th:each="groupMessage : ${groupMessages}">
                        <td th:text="${groupMessage.userName}"></td>
                        <td th:text="${groupMessage.messageContents}" class="content"></td>
                        <td th:text="${groupMessage.createDatetime}"></td>
                    </tr>
                    </tbody>
                </table>
                <br><br><br>
                <form th:action="@{/groups/addGroupMessage}" method="post">
                    <div class="form-group">
                        <input type="hidden" name="groupId" th:value="${groupId}">
                        <!--        <input type="text" name="messageContents" size="30" placeholder="投稿内容">-->
                        <textarea required name="messageContents" rows="3" class="form-control w-50" maxlength="500"></textarea>
                        <button class="btn btn-primary" type="submit">投稿</button>
                    </div>
                </form>
                <div class="meeting-container" th:if="${meeting} != null">
                    <h4>会議</h4>
                    <form th:action="@{'/groups/meeting/join/' + ${groupId}}" target="_blank" method="post">
                        <p th:text="'主催者：' + ${meeting.userName}"></p><br>
                        <table>
                            <thead>
                            <tr>
                                <th>参加者:</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:if="${!#lists.isEmpty(meetingMembers)}" th:each="meetingMember : ${meetingMembers}">
                                <td th:text="${meetingMember.userName}"></td>
                            </tr>
                            </tbody>
                        </table>
                        <button class="btn btn-primary" type="submit">参加</button>
                    </form>
                </div>

                <br>
                <table>
                    <tr>
                        <td>
                            <form th:if="${meeting == null && groupMember.groupRole != 0}"
                                  th:action="@{'/groups/meeting/' + ${groupId}}" target="_blank" method="post">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fas fa-video"></i> 新しく会議を始める
                                </button>
                            </form>
                        </td>

                        <td>
                            <form th:action="@{/files/filesShare}" method="post">
                                <input type="hidden" name="groupId" th:value="${groupId}">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fas fa-file"></i>資料共有
                                </button>
                            </form>
                        </td>
                        <td>
                            <form th:action="@{/groups/showGroupMemberList}" method="post">
                                <input type="hidden" name="groupId" th:value="${groupId}">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fas fa-users"></i>メンバー
                                </button>
                            </form>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</main>
</body>
</html>