<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{/layout/layout}">>
<head>
    <meta charset="UTF-8">
    <title>Harbbit | CompetitionPresentationMenu</title>
</head>
<body>
<!-- サイドバーの表示-->
<div layout:fragment="sidebar"
     th:replace="~{fragments/sidebar :: sidebar}">
</div>

<!-- コンテンツの表示 -->
<main layout:fragment="content"
      class="offcanvas-outside">
    <div class="container-fluid">
        <!-- トグルボタン -->
        <div th:replace="~{fragments/sidebar :: toggler}">
        </div>
    </div>

    <h3 th:object="${groups}" th:each="group : ${groups}" th:text="${group.groupName}"></h3>
    <h3 th:object="${groups}" th:each="group : ${groups}" th:text="${group.groupBio}"></h3>

    <h4>投稿一覧</h4>
    <p>
    <form th:action="@{/groups/addGroupMessage}" method="post">
        <input type="hidden" name="groupId" th:value="${groupId}">
        <input type="text" name="messageContents" size="30"  placeholder="投稿内容">
        <button type="submit">投稿</button>
    </form>
    <p>
    <table>
        <thead>
        <tr>
            <th>ユーザ名</th>
            <th>投稿内容</th>
            <th>日付</th>
        </tr>
        </thead>
        <tbody>
        <!-- messageが空でない場合、messageの要素をmessageに格納する -->
        <!-- 要素の数ループする -->
        <tr th:if="${!#lists.isEmpty(groupMessages)}" th:each="groupMessage : ${groupMessages}">
            <td th:text="${groupMessage.userName}"></td>
            <td th:text="${groupMessage.messageContents}"></td>
            <td th:text="${groupMessage.createDatetime}"></td>
        </tr>
        </tbody>
    </table>

    <form th:action="@{/files/filesShare}" method="post">
        <input type="hidden" name="groupId" th:value="${groupId}">
        <button type="submit">資料共有</button>
    </form>

    <div sec:authorize="hasAnyRole('2', '3')">
    <button type="button" onclick="location.href='seminar_competition_update.html'">コンペ内情報更新</button><br>
    </div>
    <div sec:authorize="hasAnyRole('2', '3')">
    <button type="button" onclick="location.href='seminar_competition_delete.html'">コンペ削除</button><br>
    </div>
</main>
</body>
</html>