<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>request</title>
</head>
<body>
    <h2>ゼミ作成リクエスト</h2>

    <h6 th:text="${requestUser}"></h6>

<form>
    <table>
        <tr >
            <td >リクエスト申請者</td>
            <td >申請内容</td>
            <td >タグ名</td>
        </tr>
    </table>
</form>

<form>
    <button type="button" onclick="history.back()">メニュー画面に戻る</button>
</form>

<form>
    <button type="button" onclick="location.href='seminar_request_completed.html'">リクエスト掲示</button>
</form>

</body>
</html>