<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

<div class="dm_content" id="messages_content">
    <div th:fragment="messages">
        <h5 th:text="${addressUser.getUserName()}"></h5>
        <table>
            <div class="dm" th:if="${!#lists.isEmpty(dms)}">
                <tbody>
                <tr th:each="dm : ${dms}">
                    <form action="" method="POST">
                        <td th:text="${dm.getCreateUserName()}"></td>
                        <td th:text="${dm.getDirectMessageContent()}">DM内容</td>
                        <td th:text="${dm.getCreateDatetime()}"></td>
                    </form>
                </tr>
                </tbody>
            </div>
        </table>
        <br>

        <form>
            <label>
                <input maxlength="500" id="message" required type="text">
                <input name="addressUser" th:object="${addressUser}" type="hidden">
            </label>
            <button id="send" type="button" th:onclick="|showMessage('__${user.getUserId()}__')|">送信</button>
        </form>
    </div>
</div>

</body>
</html>