<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
</head>
<body>

<div th:fragment="userList">
<thead>
<tr>
    <th></th>
    <th></th>
    <th></th>
</tr>
</thead>
<tbody>
<tr th:each="user : ${users}" th:if="${!#lists.isEmpty(users)}">
    <form id="dm" onsubmit="showMessage()">
<!--            method="post" th:action="@{'/dm/dmToPerson/' + ${user.getUserId()}}" th:object="${users}">-->
        <td th:text="${user.getUserName()}"></td>
        <td><small><small><small th:if="${user.getCertification().getRole() == '0' }"
                                 th:text="${'(' + user.getStudents().getSchool().getSchoolName() + '  ' + user.getStudents().getSchoolGrade() + '年' + ')'}"></small></small></small>
        </td>
        <td><small><small><small th:if="${user.getCertification().getRole() == '1' }"
                                 th:text="${'(' + user.getTeachers().getSchool().getSchoolName() + ')'}"></small></small></small>
        </td>
        <td><small><small><small th:if="${user.getCertification().getRole() == 2 }"
                                 th:text="${'(' + user.getEmployees().getEnterprise().getEnterpriseName() + ')'}"></small></small></small>
        </td>
        <td><small><small><small th:if="${user.getCertification().getRole() == '3' }"
                                 th:text="${'(' + user.getTeachers().getSchool().getSchoolName() + ')'}"></small></small></small>
        </td>
        <td><input th:value="DM" type="submit"></td>
    </form>
</tr>
</tbody>
</div>
</div>

<!--検索結果-->
<div class="tab_content" id="result_content">
    <div th:fragment="searchUser">
    <thead>
    <tr>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${searchUsers}" th:if="${!#lists.isEmpty(searchUsers)}" id="searchUsers">
        <form id="dm2" onsubmit="showMessage()">
<!--                method="post" th:action="@{'/dm/dmToPerson/' + ${user.getUserId()}}" th:object="${users}">-->
            <td th:text="${user.getUserName()}">ユーザー名</td>
            <td>
                <small><small><small th:if="${user.getCertification().getRole() == '0' }"
                                     th:text="${'(' + user.getStudents().getSchool().getSchoolName() + '  ' + user.getStudents().getSchoolGrade() + '年' + ')'}"></small></small></small>
            </td>
            <td>
                <small><small><small th:if="${user.getCertification().getRole() == '1' }"
                                     th:text="${'(' + user.getTeachers().getSchool().getSchoolName() + ')'}"></small></small></small>
            </td>
            <td>
                <small><small><small th:if="${user.getCertification().getRole() == 2 }"
                                     th:text="${'(' + user.getEmployees().getEnterprise().getEnterpriseName() + ')'}"></small></small></small>
            </td>
            <td>
                <small><small><small th:if="${user.getCertification().getRole() == '3' }"
                                     th:text="${'(' + user.getTeachers().getSchool().getSchoolName() + ')'}"></small></small></small>
            </td>
            <td><input th:value="DM" type="submit"></td>
            <script th:inline="javascript">
                console.log(${user.getUserName});
            </script>
        </form>
    </tr>
    </tbody>
    </div>

</div>
</body>
</html>
